/* @import "tailwindcss"; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: linear-gradient(-45deg, #f1fbff, #f1f1ff, #ecfaff, #ecf2ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttonBorder {
    background: linear-gradient(-45deg, #f1fbff, #dadaf0, #d2ecf6, #ecf2ff);
    border-radius: 0.5rem;
    padding: 2px;
}

.buttonBorder:hover {
	background:linear-gradient(-45deg, #dadaf0,#f1fbff, #ecf2ff, #d2ecf6);
}

.buttonInner {
    width: 100%;
    border: 0px;
    background: white;
    border-radius: 0.35rem;
    padding: 8px;
	transition: all;  
	transition-duration: 300ms;   

}
.buttonInnerInactive {
    width: 100%;
    border: 0px;
    background: white;
	opacity: 0.5;
    border-radius: 0.35rem;
    padding: 8px;
	transition: all;  
	transition-duration: 300ms;   

}

.buttonInner:hover {
	opacity: 1;
	background: transparent;
}
.buttonInnerInactive:hover {
	opacity: 1;
	background: transparent;
}