.container {
    display: grid;
    height: 100vh;
    gap: 1rem;
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.redtext {
    color: red;
}

.singleElementContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}