.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 0.75fr 0.65fr;
    grid-template-rows: 0.5fr 0.1fr 1fr;
}

.block {
    background-color: rgb(242, 242, 242);
    margin: 5px;
    padding: 10px;
}

.map {
    width: 100%;
    grid-row: 1 / -1;
}

.redtext {
    color: red;
}

.greentext {
    color: green;
}


h4 {
     text-align: center;
     margin: 10px;
     /* background-color: chocolate; */
    
}

h5 {
    font-size: 8px;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 2px;
}

.reservoirContainer {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.deliverybox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /* background-color: chartreuse; */
    height: 20%;
}

.deltabox {
    /* background-color: aqua; */
    height: 25%;
}

.equitybox {
    /* background-color: burlywood; */
    height: 10%;
    padding: 5px;
    
}

.percentExceedanceBucket {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 30px;
}

.reservoirPercentExceedanceBucket {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 5px;
}

.deltaSalinityBar {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 30px;

}
.equityBarContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.equityBar {
    display: flex; 
    flex-direction: row;  
    height: 50px; 
    width: 200px; 
    border: 2px solid black;
    margin-left: 1rem;
    margin-right: 1rem;
}


.bucketElementContainer {
    display: grid;
    grid-template-columns: 1fr 0.15fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
.salinityElementContainer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.measureBar {
    background-color: black;
    height: 10%;
    margin-top: 5px;
    margin-right: 2px;
}
.measureText {
    font-size: 10px;

}

#p0bucket{
    background-color: white;
}

#p10bucket{
    background-color: rgb(170, 170, 255);
}

#p30bucket{
    background-color: rgb(130, 130, 255);
}

#p50bucket{
    background-color: rgb(90, 90, 255);
}

#p70bucket{
    background-color: rgb(50, 50, 255);
}

#p90bucket{
    background-color: rgb(0, 0, 255);
}


#p0delta{
    background-color: white;
}

#p10delta{
    background-color: rgb(255, 213, 0)
}

#p30delta{
    background-color: rgb(255, 255, 0);
}

#p50delta{
    background-color: rgb(187, 255, 0);
}

#p70delta{
    background-color: rgb(120, 255, 0);
}

#p90delta{
    background-color: rgb(0, 255, 0);
}