<div class="singleElementContainer"> 
    <% if (comp === 1) { %>
        <p class="greentext"> ⬆️ <%= title %>: </p>
    <% } else if (comp === -1) { %>
        <p class="redtext"> ⬇️ <%= title %>: </p>
    <% } else { %>
        <p> ⏺️ <%= title %>: </p>
    <% } %>
    <p> <%= data %> </p>
</div>
