<% if (warnings.deliveriesNODDry) { %>
    <p> ohhh nooooo dry deliveries north </p>
<% } %>

<% if (warnings.deliveriesNODWet) { %>
    <p> ohhh nooooo wet deliveries north </p>

<% } %>

<% if (warnings.deliveriesSODDry) { %>
    <p> ohhh nooooo dry deliveries south </p>

<% } %>
    
<% if (warnings.deliveriesSODWet) { %>
    <p> ohhh nooooo wet deliveries south </p>

<% } %>

<% if (warnings.deltaAlertDry) { %>
    <p> ohhh nooooo delta dry </p>

<% } %>

<% if (warnings.deltaAlertWet) { %>
    <p> ohhh nooooo delta wet </p>

<% } %>

<% if (warnings.deltaCriticalDry) { %>
    <p> ohhh nooooo!!!! delta dry </p>

<% } %>

<% if (warnings.deltaCriticalWet) { %>
    <p> ohhh nooooo!!!! delta wet </p>

<% } %>

<% if (warnings.equityDry) { %>
    <p> ohhh nooooo equity dry</p>
<% } %>

<% if (warnings.equityWet) { %>
    <p> ohhh nooooo equity wet</p>

<% } %>

<% if (warnings.reservoirsDry) { %>
    <p> ohhh nooooo reservoirs dry</p>

<% } %>

<% if (warnings.reservoirsWet) { %>
    <p> ohhh nooooo reservoirs wet</p>
    
<% } %>